<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_GS25.Properties.Settings.QL_GS25ConnectionString"
            connectionString="Data Source=DESKTOP-NHAT11T\SQLEXPRESS;Initial Catalog=&quot;QL GS25&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>